.modern-theme {
    background-color: #FAF4E1;
    color: #000000;
    margin: 0;
    padding: 0;
}

.header{
    font-family: 'Arial', sans-serif;
    background: linear-gradient(150deg, #FEF889, #fe9b1c);
    color: #FFFFFF;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    padding: 60px 20px;
    text-align: center;
}

.title {
    font-size: 4.5em;
    font-weight: bold;
    margin: 0;
    margin-top: 15px;
    
}
.title_sub_name {
    font-size: medium;
}

.title_end {
    font-size: small;
}

.profile_font{
    font-weight: bold;
}

/* 사장 프로필 부분 */
.profile{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
